[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = "*"
shiboken6 = "*"
pyside6 = "*"
dataclasses = "*"
sqlalchemy = "*"
xsdata = "*"
click = "*"
semver = "*"

[dev-packages]
twine = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.9"
