[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shapely = ">=1.7"
shiboken6 = ">=6"
pyside6 = ">=6"
dataclasses = "*"
sqlalchemy = ">=1.3"
xsdata = ">=20"
click = "*"
semver = ">=2"

[dev-packages]
twine = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.9"
